#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
/* 
.site-layout-background {
  background: #fff;
} */

.layout-content {
  height: calc(100vh - 64px - 70px) !important;
  padding: 0 50px;
}

.layout-container {
  padding: 24px;
  min-height: 280px;
  height: calc(100vh - 64px - 70px - 54px);
  background-color: #fff;
}